h1 {
    color: brown;
	/* Add your style property here */
	font-size: 3rem;
}

header > p {
    color: white;
}

header {
    background-color: black;
}

/* Add a bold class selector to this css code declaration */
.bold {
    font-weight: bold;
}

/* Add a selector for the id of coffee-box to this css code declaration */
#coffee-box {
    background-color: brown;
}

#tea-box {
     background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
}

/* Add an type selector and pseudo-class to this code
declaration that targets only anchor elements that are hovered over with a mouse. */
a:hover {
    text-decoration: none;
    color: chocolate;
}

footer {
    background-color: #6f4e37;
    padding: 1em;
    text-align: center;
}

footer > span {
    color: silver;
}

footer > a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
}

footer > p {
    color: silver;
}

/*
Add an attribute type selector to this code
declaration that targets only input elements 
with a type attribute set to submit. You don't
need to worry about the css properties and values
inside the curly braces yet; we will cover these
in future lessons.
*/
input[type=submit] {
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #5e361b;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Add your style for the form element here */
form {
    width:700px;
}